@import './variables.scss';

.toolbar {
  height: $toolbar-height;
  width: 100%;
  position: absolute;
  box-shadow: 0 4px 2px gray;
  z-index: 3;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  background-color: $white;
}

.tool {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $tool-size;
  height: $tool-size;
  margin-right: 1rem;
  background-color: $white;
  cursor: pointer;
}

.undo {
  margin-left: auto;
}